@tailwind base;
@tailwind components;
@tailwind utilities;

@import './helpers/mixins';


// Variables :
$dark:#081027;
$light:#dfedf0;
$main: #01b4d2;
$sec: #5a8cff;
$darke:#33373b;
$lighte:#cacaca;
$lity:#abfeff;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl !important;
    scroll-behavior: smooth;
}

::selection{
    background-color: $main;
    color:$dark
}

@font-face {
    font-family:ar-b;
    src: url('../media/Shabnam-Bold.ttf');
}
@font-face {
    font-family:ar-l;
    src: url('../media/Shabnam-Light.ttf');
}
@font-face {
    font-family:en-b;
    src: url('../media/Saira-ExtraBold.ttf');
}
@font-face {
    font-family:en-l;
    src: url('../media/Saira-Regular.ttf');
}

.pad{
    padding: 2rem 10rem;
    @include xl{padding: 2rem 6rem;}
    @include lg{padding: 1.5rem 4rem;}
    @include md{padding: 1.5rem 4rem;}
    @include sm{padding: 1rem 1rem;}
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: ar-l;
}
.dbg{background-image: url('../images/darkbg.jpg');}

.sh{box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem $main}
.sh2{box-shadow: 0 0 5px 1px black inset}
.sh3{box-shadow: 0 0 5px 0.5px black}

.ar-b{font-family: ar-b;}
.ar-l{font-family: ar-l;}
.en-b{font-family: en-b !important;}
.en-l{font-family: en-l !important;}

.ribon::before{
    content:'';
    width:4px ;
    height: 100%;
    background-color: $main;
    display: inline-block;
}


.web{background-color: #dc2626}
.mob{background-color: #2f8345}
.logo{background-color: #b4770f}
.des{background-color: #3636b5}
.oth{background-color: #425a77}

.ltr{direction: ltr !important;}

.scrollTop{
    width:40px;
    height:40px;
    z-index:10;
    background-color:$main;
    position:fixed;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    bottom:-50px;
    right:90px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.5s ease;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -ms-transition:0.5s ease;
    -o-transition:0.5s ease;
}
.scrollTop.show{bottom:15px;@include md{bottom:20px;}}

.nav-links{
    &::after{
        content:'';
        width:10px;
        height:1px;
        background-color:$main;
        position: absolute;
        bottom: -2px;
        left: calc(50% - 40px);
        transition:ease 500ms;
        -webkit-transition:ease 500ms;
        -moz-transition:ease 500ms;
        -ms-transition:ease 500ms;
        -o-transition:ease 500ms;
        display: none;
    }
}

.nav-links:hover{
    &::after{
        width: 80px;
        display: inline;
    }
}

.theWidth{
    width: 500px;
    @include lg{width:400px;}
    @include md{width:300px;}
    @include sm{width:250px;}
}

.menuu{cursor: pointer}
.menuu:hover{color:$main}
.nav-ss{display: none}
.nav-overlay{
    position:fixed;
    z-index: 100;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:$dark;
    transition:0.5s ease;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -ms-transition:0.5s ease;
    -o-transition:0.5s ease;
}
.nav-overlay .overlay-close{
    font-size:27px;
    color:$main;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 15px;
}
.nav-links-ss{list-style:none !important}
.nav-links-ss li{
    margin: 2rem;
    cursor: pointer;
    text-transform: capitalize;
    color:$main;
    font-size:2rem;
    text-align: center;
}
.nav-links-ss li:hover{color:$light}

.slide-bottom {
    animation: slide-bottom 0.5s ease-out both;
    -webkit-animation: slide-bottom 0.5s ease-out both;
}
  
  @-webkit-keyframes slide-bottom {
    0% {
        transform: translateY(-40%);
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        -o-transform: translateY(-40%);
}
    60% {
              -webkit-transform: translateY(0);
              transform: translateY(0);
              -moz-transform: translateY(0);
              -ms-transform: translateY(0);
              -o-transform: translateY(0);
}
  }
  
  @keyframes slide-bottom {
    0% {
        transform: translateY(-40%);
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        -o-transform: translateY(-40%);
}
    60% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
@media screen and (max-width:720px){.nav-links{display: none}.nav-ss{display: flex} .rot{
    transform: rotate(312deg);
    -webkit-transform: rotate(312deg);
    -moz-transform: rotate(312deg);
    -ms-transform: rotate(312deg);
    -o-transform: rotate(312deg);
}}
@media screen and (max-width:500px){nav{padding:1rem}.login{display: none}.nav-logo img{width:110px}}

ul{
    list-style: circle;
}
.over-h{
    overflow: hidden !important;
}
